
h1{
	font-family: Verdana;
	text-align: center;
}	

#mainDIV{
	position: relative;
	width: 500px;
	height: 350px;
}

#boardDIV{
	position: absolute;
	top:0;
	left: 20%;

}

div{
	margin: auto;
	width: 300px;
	float: center;
}

.square{
	font-size: 20px; 
	vertical-align: text-top;;
	padding: 10px;
	width: 100px;
	height: 100px;
	background-color: white;
	border: 0px;
}


#newGameButton{
	font-size: 15px;
	font-family: sans-serif;
	background-color: white;
	margin-top: 30px;
	padding:10px;
	margin-left: 33%;
	border-radius: 10px;
	border: 1px dashed black;
	display: none;
}

/*messages show up when game is over*/
#gameOverDIV{
	font-family: Impact;
	font-size: 40px;
	text-align: center;
	
	width: 300px;
	transform: rotate(-30deg);

	position: absolute;
	top:10%;
	left: 20%
}

#gameOverText{
	display: none;
}

#waiting{
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: gray;
	margin-left: 15%;
}



/*draw lines by giving squares borders...*/
#s01{
	border-right: 2px solid black;
	border-left: 2px solid black;
}
#s11{
	border: 2px solid black;
}
#s21{
	border-right: 2px solid black;
	border-left: 2px solid black;
}
#s10{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
#s12{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

